.container {
  background-color:rgb(109, 5, 5); 
  color:white; 
}    
 h1{
    text-align:center;
    font-size: 50px}
h2{
    text-align:center;
}

#order cost{
    font-size: 100px;
}
.header{
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 5%;
    background-position: center;
    text-align: center;
    color: white;
}
#delivery-form{
  height: 80%; 
  margin-left: 50px; 
}
/* #size { 
    margin-bottom: 50px;
}
#crust {
    margin-bottom: 50px;
}
#topping {
    margin-bottom: 50px;
}
*/
input[type=text] , select {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: rgb(255, 11, 133);
    color: white;
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
  }
  
  input[type=submit]:hover {
    background-color: goldenrod;
  }
  #order-form {
      height: 100%;
  }
  .message{
    height:800px;
  }
.pics{
      margin-bottom:5%;
      margin-top:5%;
}
.card-footer{
    background-color: silver;
}
#Contacts{
    color:black;
    font: weight 600;
}
h5{
    color:black;
}

